@font-face {
    font-family: 'curse_casualregular';
    src: url('./fonts/CurseCasual/curse_casual-webfont.woff2') format('woff2'),
         url('./fonts/CurseCasual/curse_casual-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fot-rodin_prob';
    src: url('./fonts/RodinPro/FOT-Rodin Pro B.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-rodin_prodb';
    src: url('./fonts/RodinPro/FOT-Rodin Pro DB.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-rodin_proeb';
    src: url('./fonts/RodinPro/FOT-Rodin Pro EB.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-rodin_prol';
    src: url('./fonts/RodinPro/FOT-Rodin Pro L.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-rodin_prom';
    src: url('./fonts/RodinPro/FOT-Rodin Pro M.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-rodin_proub';
    src: url('./fonts/RodinPro/FOT-Rodin Pro UB.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-seurat_prob';
    src: url('./fonts/SeuratPro/FOT-Seurat Pro B.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-seurat_prodb';
    src: url('./fonts/SeuratPro/FOT-Seurat Pro DB.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-seurat_proeb';
    src: url('./fonts/SeuratPro/FOT-Seurat Pro EB.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-seurat_prol';
    src: url('./fonts/SeuratPro/FOT-Seurat Pro L.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-seurat_prom';
    src: url('./fonts/SeuratPro/FOT-Seurat Pro M.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fot-seurat_proub';
    src: url('./fonts/SeuratPro/FOT-Seurat Pro UB.otf') format('OpenType'),
    font-weight: normal;
    font-style: normal;

}