@import url("fontfaces.css");

body {
	background-image: linear-gradient(to right, #e8a15a, #ebc5a0);
}

#thetitle {
	font-family: 'curse_casualregular';
	font-size: 50px;
	text-align: center;
	
}

#newthing {
	text-align: center;
}

p {
	font-family: 'fot-seurat_prom';
	font-size: 23px;
}

h2 {
	font-family: 'fot-rodin_proeb';
	color: black;
}


a:link {
 	color: #50a8ba;
 }

a:visited {
 	color: purple;
}

a:hover {
	color: brown;
	text-decoration: bold;
}

a:active {
	color: yellow;
	text-decoration: underline;
}

li {
	font-family: 'fot-seurat_prom';
}
